<div class="cita-container">
  <h2>Registrar Nueva Cita</h2>
  <form [formGroup]="citaForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
      <div class="input-group">
        <label for="nombre">Nombre del Paciente:</label>
        <input id="nombre" formControlName="nombre" type="text" placeholder="Ingrese el nombre del paciente" required>
      </div>

      <div class="input-group">
        <label for="fecha">Fecha de la Cita:</label>
        <input id="fecha" formControlName="fecha" type="date" required>
      </div>

      <div class="input-group">
        <label for="hora">Hora de la Cita:</label>
        <input id="hora" formControlName="hora" type="time" required>
      </div>

      <div class="input-group">
        <label for="motivo">Motivo de la Cita:</label>
        <textarea id="motivo" formControlName="motivo" placeholder="Escriba el motivo de la consulta" required></textarea>
      </div>
    </mat-dialog-content>
    
    <mat-dialog-actions>
      <button type="submit" [disabled]="!citaForm.valid">Registrar Cita</button>
    </mat-dialog-actions>
  </form>
</div>
